@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&family=Barlow:wght@200;300;400;500&display=swap");

/* Custom properties */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* fonts */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 5vh 0;
  width: 100vw;
  font-size: 18px;
  line-height: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Utility classes */

.flex {
  display: flex;
}
.uppercase {
  text-transform: uppercase;
}
.fw-bold {
  font-weight: bold;
}
.left {
  left: 0;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.brdr-rd-bl {
  border-bottom-left-radius: 100%;
}
.brdr-rd-br {
  border-bottom-right-radius: 100%;
}
.brdr-rd-tl {
  border-top-left-radius: 100%;
}
.brdr-rd-tr {
  border-top-right-radius: 100%;
}
.bck-clr-white {
  background-color: hsl(var(--clr-white));
}
.bck-clr-light {
  background-color: hsl(var(--clr-light));
}
.bck-clr-dark {
  background-color: hsl(var(--clr-dark));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.fs-14 {
  font-size: 14px;
  letter-spacing: 2.35px;
}
.fs-16 {
  font-size: 16px;
  letter-spacing: 2.7px;
}
.fs-28 {
  font-size: 28px;
  letter-spacing: 4.75px;
}
.fs-32 {
  font-size: 32px;
}
.fs-56 {
  font-size: 56px;
}
.fs-100 {
  font-size: 100px;
}
.fs-150 {
  font-size: 150px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
/* HEADER */

.circle {
  height: 3em;
  width: 3em;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}

.circle__element {
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: hsl(var(--clr-white));
}

/* HEADING */

.heading {
  font-size: 28px;
  line-height: 34px;
  font-family: var(--ff-sans-cond);
  letter-spacing: 0.1em;
  margin: 1em 0;
}

.heading span {
  margin-right: 1em;
  opacity: 0.25;
}

/* MAIN colors section */

.colors {
  justify-content: space-between;
  font-family: var(--ff-serif);
  margin: 3em 0;
}

.color-block {
  flex-direction: column-reverse;
  height: 10vh;
  padding: 0.5em;
  border: 1px solid #616476;
  font-size: 24px;
}

.colors > div {
  width: 30%;
}

.color-block + div {
  padding: 1em 0;
  font-family: var(--ff-sans-normal);
}

.color-block + div > p {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

/* MAIN fonts section */

.fonts {
  display: flex;
  justify-content: space-between;
}

.heading-sizes,
.text-sizes {
  width: 50%;
}

.heading-sizes > div,
.text-sizes > div,
.font-name {
  padding: 1em 0;
}

.font-example-view {
  line-height: 1em;
}

.text-block-example__heading {
  opacity: 0.5;
}

.margin-rght {
  margin-right: 1em;
}

.nav-bar {
  background: hsl(var(--clr-white) / 0.04);
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

.nav-bar li {
  cursor: pointer;
  padding: 2em 0;
}

.nav-bar li:hover {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white) / 0.04);
}

.nav-bar li:active {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white));
}
