:root {
  --background-home-desktop: url("../assets/crew/background-crew-desktop.jpg");
  --background-home-tablet: url("../assets/crew/background-crew-tablet.jpg");
  --background-home-mobile: url("../assets/crew/background-crew-tablet.jpg");
}
