:root {
  --background-home-desktop: url("../assets/crew/background-crew-desktop.jpg");
  --background-home-tablet: url("../assets/crew/background-crew-tablet.jpg");
  --background-home-mobile: url("../assets/crew/background-crew-mobile.jpg");
}

.wrapper {
  height: 100%;
  padding: 2em 8em 0em;
  position: relative;
}

.member {
  display: flex;
  height: 85%;
}

.member__info {
  width: 100%;
  flex-basis: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.member__img {
  flex-basis: 60%;
  width: 60%;

  position: absolute;
  right: 0;
  bottom: 0;

  text-align: center;
}

.member__role {
  color: hsl(var(--clr-white) / 0.5);
}

.member__list ul {
  display: flex;
  column-gap: 2em;
}

.member__list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--clr-white) / 0.17);
}

.member__list li:hover {
  background-color: hsl(var(--clr-white) / 0.5);
}

.active-member,
.member__list li:active {
  background-color: hsl(var(--clr-white));
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 2em 4em 0em;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 2em 4em 0em;
  }

  .member {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .member__info {
    width: 100%;
    flex-basis: 40%;
  }

  .member__img {
    flex-basis: 60%;
    max-height: 60%;
    width: 100%;
    top: 50%;
  }

  .member__img img {
    height: 100%;
  }

  .member__info div {
    padding: 10px;
  }

  .member__list {
    margin: 0 auto;
  }

  .member__list li {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 1em;
  }

  .heading {
    text-align: center;
  }

  .member {
    position: relative;
    height: 90%;
  }

  .member,
  .member__info {
    flex-direction: column-reverse;
  }

  .member__info {
    flex-basis: 50%;
    justify-content: center;
  }

  .member__img {
    top: 0;
    flex-basis: 50%;
    height: 100%;
    border-bottom: 1px solid hsl(var(--clr-white) / 0.2);
  }

  .member__img {
    max-height: 50%;
  }
  
  .member__list li {
    width: 10px;
    height: 10px;
  }
}
