:root {
  --background-home-desktop: url("../assets/crew/background-crew-desktop.jpg");
  --background-home-tablet: url("../assets/crew/background-crew-tablet.jpg");
  --background-home-mobile: url("../assets/crew/background-crew-tablet.jpg");
}

main {
  margin: 2em 7em 0em;
}

.member {
  display: flex;
  align-items: center;
}

.member > div {
  width: 50%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.member > div:first-child {
  padding-bottom: 7em;
}
.member__img {
  text-align: center;
}

.member__img img {
  width: fit-content;
}

.description {
  width: 60%;
}

.main-info div {
  margin-bottom: 1em;
}

.main-info .role {
  color: hsl(var(--clr-white) / 0.5);
}

.crew__list {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-top: 7em;
}

.crew__list li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(var(--clr-white) / 0.17);
}

.crew__list li:hover,
.crew__list li:active {
  background-color: hsl(var(--clr-white));
}
