:root {
  --background-home-desktop: url("../assets/destination/background-destination-desktop.jpg");
  --background-home-tablet: url("../assets/destination/background-destination-tablet.jpg");
  --background-home-mobile: url("../assets/destination/background-destination-mobile.jpg");
}

.wrapper {
  padding: 2em 8em 4em;
  width: 100%;
  height: 80%;
}

.planet {
  display: flex;
  justify-content: center;
  height: 100%;
}

.planet__img {
  min-width: 30%;
  max-width: 50%;
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 0em 2em;
}

.planet__info {
  flex-basis: 50%;
  max-width: 50%;
  align-self: center;
}

.main-info,
.add-info,
.planet__list {
  margin: 0 auto;
  align-self: center;
}

.add-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;

  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid hsl(var(--clr-white) / 0.2);
}

.planet__avg,
.planet__ttime {
  display: block;
}

.planet__list {
  display: flex;
  gap: 3em;
}

.planet__list li {
  padding-bottom: 7px;
}

.planet__list li:hover {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white) / 0.04);
}

.planet__list li:active {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white));
}

.planet__descr {
  overflow-wrap: break-word;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 2em 3em;
  }

  .planet__list {
    gap: 2em;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding: 2em 2em 4em;
  }

  .planet__list {
    gap: 1.5em;
  }

  .planet__img img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .planet__img {
    max-width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .planet {
    flex-wrap: wrap;
    align-items: center;
  }

  .planet__info {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .planet__img {
    text-align: center;
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
    padding: 2em;
  }

  .planet__img img {
    width: 100%;
    max-width: 70%;
    height: auto;
  }

  .planet__list,
  .add-info {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .add-info {
    row-gap: 1em;
  }

  .heading {
    text-align: center;
  }
}
