.main {
  height: 65vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main > div {
  width: 65%;
}

.explore-btn {
  display: grid;
  place-items: center;

  position: absolute;
  right: 5em;
  bottom: 5em;

  width: 10em;
  height: 10em;
  border-radius: 100%;

  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));

  transition: all 1s;
  cursor: pointer;
}

.explore-btn::before {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  transition: all 1s;
}

.explore-btn:hover:before,
.explore-btn:active:before {
  width: 15em;
  height: 15em;
  border-radius: 100%;

  background-color: hsl(var(--clr-white) / 0.1);
}

.explore-btn:active {
  transform: scale(0.9);
}
