@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&family=Barlow:wght@200;300;400;500&display=swap");

:root {
  --background-home-desktop: url("../assets/home/background-home-desktop.jpg");
  --background-home-tablet: url("../assets/home/background-home-tablet.jpg");
  --background-home-mobile: url("../assets/home/background-home-mobile.jpg");

  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--background-home-desktop) no-repeat center;
  background-size: cover;

  font-size: 18px;
  color: hsl(var(--clr-white));
  font-family: var(--ff-sans-normal);

  scroll-behavior: smooth;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  height: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

main {
  /*background-color: red;*/
  width: 100%;
  height: 85%;
}

/* UTILITY CLASSES */

.left {
  left: 0;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.brdr-rd-bl {
  border-bottom-left-radius: 100%;
}
.brdr-rd-br {
  border-bottom-right-radius: 100%;
}
.brdr-rd-tl {
  border-top-left-radius: 100%;
}
.brdr-rd-tr {
  border-top-right-radius: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.fs-14 {
  font-size: 14px;
  letter-spacing: 2.35px;
}
.fs-16 {
  font-size: 16px;
  letter-spacing: 2.7px;
}
.fs-23 {
  font-size: 23px;
  letter-spacing: 3px;
}
.fs-28 {
  font-size: 28px;
  letter-spacing: 4.75px;
}
.fs-32 {
  font-size: 32px;
}
.fs-56 {
  font-size: 56px;
}
.fs-100 {
  font-size: 100px;
}
.fs-150 {
  font-size: 150px;
}

.grey {
  color: #d0d6f9;
}
/* HEADING START */

.heading {
  font-size: 28px;
  line-height: 34px;
  font-family: var(--ff-sans-cond);
  letter-spacing: 0.1em;
  padding: 1em 0;
}

.heading span {
  margin-right: 1em;
  opacity: 0.25;
  font-weight: bold;
}

/* HEADING END */

@media screen and (max-width: 1300px) {
  .nav__list {
    width: 80%;
  }

  body {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 900px) {
  .fs-23 {
    font-size: 20px;
  }

  .fs-100 {
    font-size: 80px;
  }

  .fs-32 {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: var(--background-home-tablet) no-repeat center;
    background-size: cover;

    font-size: 14px;
    line-height: 17px;
  }

  p {
    line-height: 1.3em;
  }

  .heading {
    font-size: 20px;
  }

  header {
    padding: 0em 0em 0em 4em;
  }

  .nav__list {
    width: 95%;
  }

  .nav-link span {
    display: none;
  }

  .nav::before {
    display: none;
  }

  .fs-150 {
    font-size: 130px;
  }

  .fs-56 {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  body {
    background: var(--background-home-mobile) no-repeat center;
    background-size: cover;

    font-size: 16px;
    line-height: 19px;
  }

  .fs-23 {
    font-size: 17px;
  }

  .fs-100 {
    font-size: 70px;
  }

  .fs-56 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .fs-150 {
    font-size: 100px;
  }
  .fs-28 {
    font-size: 25px;
  }
}

.icon {
  width: 2em;
  height: 2em;
  background-size: cover;
}

.icon:hover {
  transform: scale(1.2);
  transition: all 1s;
}
