:root {
  --background-home-desktop: url("../assets/destination/background-destination-desktop.jpg");
  --background-home-tablet: url("../assets/destination/background-destination-tablet.jpg");
  --background-home-mobile: url("../assets/destination/background-destination-tablet.jpg");
}

.planet {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.planet > div {
  padding: 2em;
  width: 50%;
  height: 100%;
}

.planet__img {
  text-align: center;
}

.planet__list {
  display: flex;
  width: 60%;
  font-size: 1.2em;
  line-height: 2.4em;
  letter-spacing: 3px;
}

.planet__list li:not(:last-child) {
  margin-right: 1.5em;
}

.planet__info .main-info {
  padding: 0em 0em 3em 0em;
  font-size: 16px;
}

.add-info {
  display: flex;
  width: 100%;
  padding-top: 1em;
  border-top: 1px solid hsl(var(--clr-white) / 0.3);
}

.add-info p:first-child {
  margin-right: 2em;
}

.add-info span {
  display: block;
}

.planet__list li:hover {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white) / 0.04);
}

.planet__list li:active {
  box-shadow: inset 0px -2px 0px 0px hsl(var(--clr-white));
}

@media screen and (max-width: 1300px) {
  .planet__img img {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1050px) {
  .planet {
    align-items: center;
    flex-direction: column;
  }

  .planet > div {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .planet__list {
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-info {
    width: 100%;
  }

  .add-info {
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  .add-info span {
    transform: scale(0.8);
  }

  .add-info p:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .planet__list {
    width: 100%;
    transform: scale(0.8);
  }

  .planet__img img {
    width: 80%;
  }

  .planet__name {
    font-size: 60px;
  }

  .add-info {
    flex-direction: column;
  }
}
