:root {
    --background-home-desktop: url("../assets/technology/background-technology-desktop.jpg");
    --background-home-tablet: url("../assets/technology/background-technology-tablet.jpg");
    --background-home-mobile: url("../assets/technology/background-technology-tablet.jpg");
  }